 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mark Stoenis">
        </div>
        <div class="form-group">
            <label for="category" class="text-light">category</label>
            <input type="text" name="category" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="trilogy" class="text-light">trilogy</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="trilogy" value="yes" >
                <label for="radio-2" class="radio-label">yes</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="trilogy" value="no" >
                <label for="radio-3" class="radio-label">no</label>
            </div>
        </div>

        <div class="form-group">
            <label for="trilogy" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="yes" >
                <label for="radio-4" class="radio-label">yes</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="no" >
                <label for="radio-5" class="radio-label">no</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>